body,html {
    width: 100%;
    min-height: 100%;
    margin: 0 !important;
    height: 100%;
    padding: 0 !important;
    background-color: #f7f7f7 !important;
    color: rgba(0, 0, 0, 0.87) !important;
}

@font-face {
    font-family:"Intro";
    src:url("media/fonts/Intro.otf") format("otf"),
        url("media/fonts/Intro.woff") format("woff"),
        url("media/fonts/Intro.ttf") format("truetype");
        font-weight:normal;
        font-style:normal;
    }
